variables:
  GIT_SUBMODULE_STRATEGY: recursive
  VIVADO_PATH_SH: '/nfs/data41/software/Xilinx/Vivado/${VIVADO_VERSION}/settings64.sh'
  CLANG_TIDY_PATH: '/opt/rh/llvm-toolset-7.0/root/bin/clang-tidy'
  CLANG_TIDY_OPTIONS: '-format-style=file' #-config='' does not work because of the quotes; -header-filter in .clang-tidy
  CLANG_TIDY_COMP_OPTIONS: '-std=c++11 -I../TrackletAlgorithm -I../TopFunctions -I../TopFunctions/CombinedConfig -I../TestBenches -I/nfs/data41/software/Xilinx/Vivado/${VIVADO_VERSION}/include'

stages: # ---------------------------------------------------------------------
  - lint
  - download
  - quality-check
  - hls-build
  - topTF-sim
  - check-results
  - topTF-synth

# Job templates ---------------------------------------------------------------
.job_template: &template_base
  tags:
    - xilinx-tools
  before_script:
    - source $VIVADO_PATH_SH

.job_template: &template_static-check-python
  tags:
    - xilinx-tools
  stage: lint
  before_script:
    - which python3
    - python3 --version
    - python3 -m pylint --version

.job_template: &template_quality-check
  needs: ["download"]
  tags:
    - xilinx-tools
  stage: quality-check
  before_script:
    # Needed for new tool version
    - source /opt/rh/llvm-toolset-7.0/enable
  script:
    - pwd; ls -la; ls -la TrackletAlgorithm/;
    - cd project
    - pwd; ls -la; # Debug
    # Hard coded -config='' because the quotes do not work in the variable
    - ${CLANG_TIDY_PATH} -config='' ${CLANG_TIDY_OPTIONS} ${CLANG_TIDY_FILES} -- ${CLANG_TIDY_COMP_OPTIONS} ${CLANG_TIDY_INCLUDES}

.job_template: &template_hls-build
  <<: *template_base
  stage: hls-build
  script:
    - cd project
    - pwd; ls -la; # Debug
    - ${EXECUTABLE} -f "script_${PROJ_NAME}.tcl"
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./project/
    expire_in: 1 week

.job_template: &template_topTF-sim
  <<: *template_base
  stage: topTF-sim
  script:
    - cd IntegrationTests/${PROJ_NAME}/script
    - pwd; ls -la; #debug
    - vivado_hls -f ./compileHLS.tcl
    - vivado -mode batch -source ./makeProject.tcl
    - vivado -mode batch -source ./runSim.tcl
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./IntegrationTests/${PROJ_NAME}/script/
    expire_in: 1 week

.job_template: &template_check-results
  <<: *template_base
  stage: check-results
  script:
    - cd IntegrationTests/${PROJ_NAME}/script
    # Compare HDL sim output with Mem/Prints
    - python3 common/script/CompareMemPrintsFW.py -p -s
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./IntegrationTests/${PROJ_NAME}/script/dataOut/*.txt
    expire_in: 10 week

.job_template: &template_topTF-synth
  <<: *template_base
  stage: topTF-synth
  script:
    - cd IntegrationTests/${PROJ_NAME}/script
    - pwd; ls -la; #debug
    - vivado -mode batch -source common/script/synth.tcl 
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./IntegrationTests/${PROJ_NAME}/script/Work/Work.runs/synth_1/*.rpt
    expire_in: 1 week
    
# Jobs ------------------------------------------------------------------------
# Lint ------------
py3check:
  <<: *template_static-check-python
  script:
    # If changes need to be made you might refer to: https://portingguide.readthedocs.io/en/latest/tools.html#automated-fixer-python-modernize
    - python3 -m pylint --py3k emData/*.py # Check for python3 compatibility
lint:
  <<: *template_static-check-python
  allow_failure: true
  script:
    - python3 -m pylint emData/*.py # Static code checker
# Download ------------
download:
  tags:
    - xilinx-tools
  stage: download
  needs: ["py3check", "lint"]
  script:
    - cd emData
    - ./download.sh
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./emData/
      - ./TopFunctions/
    expire_in: 1 week
# Quality checks ------------
IR-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/InputRouter_test.cpp ../TopFunctions/InputRouterTop.cc'
VMR-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/VMRouter_test.cpp ../TopFunctions/VMRouterTop_L2PHIA.cc'
VMRCM-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/VMRouterCM_test.cpp ../TopFunctions/CombinedConfig/VMRouterCMTop_L2PHIA.cc'
TE-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/TrackletEngine_test.cpp ../TopFunctions/TrackletEngineTop.cc'
TC-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/TrackletCalculator_test.cpp ../TopFunctions/TrackletCalculatorTop.cc'
TP-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/TrackletProcessor_test.cpp ../TopFunctions/CombinedConfig/TrackletProcessorTop.cc'
PR-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/ProjectionRouter_test.cpp ../TopFunctions/ProjectionRouterTop.cc'
ME-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/MatchEngine_test.cpp ../TopFunctions/MatchEngineTop.cc'
MC-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/MatchCalculator_test.cpp ../TopFunctions/MatchCalculatorTop.cc'
MP-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/MatchProcessorL3_test.cpp ../TopFunctions/CombinedConfig/MatchProcessorTopL3.cpp'
TB-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/TrackBuilder_test.cpp ../TopFunctions/TrackBuilderTop.cc'
# HLS builds ---------------
IR-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "IR-quality-check"]
  allow_failure: true
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "IR"
VMR-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "VMR-quality-check"]
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "VMR"
VMRCM-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "VMRCM-quality-check"]
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "VMRCM"
TE-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "TE-quality-check"]
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "TE"
TC-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "TC-quality-check"]
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "TC"
TP-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "TP-quality-check"]
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "TP"
PR-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "PR-quality-check"]
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "PR"
ME-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "ME-quality-check"]
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "ME"
ME-vitis-hls-build:
  <<: *template_hls-build
  needs: ["download", "ME-quality-check"]
  allow_failure: true # FIXME: remove after vitis updated to 2021.1 and confirmed that pre-synthesis failure is gone.
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2020.2"
    EXECUTABLE: "vitis_hls"
    PROJ_NAME: "ME"
MC-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "MC-quality-check"]
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "MC"
MP-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "MP-quality-check"]
  allow_failure: true # FIXME: remove after all errors are fixed
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "MP"
TB-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "TB-quality-check"]
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "TB"
# FW simulation ---------------
topPRMEMC-sim:
  <<: *template_topTF-sim
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "PRMEMC"
  needs:
    - job: download
    - job: PR-vivado-hls-build
      artifacts: false
    - job: ME-vivado-hls-build
      artifacts: false
    - job: MC-vivado-hls-build
      artifacts: false
topTETC-sim:
  <<: *template_topTF-sim
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "TETC"
  needs:
    - job: download
    - job: TE-vivado-hls-build
      artifacts: false
    - job: TC-vivado-hls-build
      artifacts: false
topIRVMR-sim:
  <<: *template_topTF-sim
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "IRVMR"
  needs:
    - job: download
    - job: IR-vivado-hls-build
      artifacts: false
    - job: VMR-vivado-hls-build
      artifacts: false
topMCTB-sim:
  <<: *template_topTF-sim
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "ReducedConfig/MCTB"
  needs:
    - job: download
    - job: MC-vivado-hls-build
      artifacts: false
    - job: TB-vivado-hls-build
      artifacts: false
topIRtoTB-sim:
  <<: *template_topTF-sim
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "ReducedConfig/IRtoTB"
  needs:
    - job: download
    - job: IR-vivado-hls-build
      artifacts: false
    - job: VMR-vivado-hls-build
      artifacts: false
    - job: TE-vivado-hls-build
      artifacts: false
    - job: TC-vivado-hls-build
      artifacts: false
    - job: PR-vivado-hls-build
      artifacts: false
    - job: ME-vivado-hls-build
      artifacts: false
    - job: MC-vivado-hls-build
      artifacts: false
    - job: TB-vivado-hls-build
      artifacts: false
# Check FW results ---------------
topPRMEMC-check-results:
  <<: *template_check-results
  allow_failure: true # FIXME: remove after all errors are fixed
  variables:
    VIVADO_VERSION: "2019.2" # Vivado not needed but it is part of the path that is called
    PROJ_NAME: "PRMEMC"
  needs:
    - download
    - topPRMEMC-sim
topTETC-check-results:
  <<: *template_check-results
  allow_failure: true # FIXME: remove after all errors are fixed
  variables:
    VIVADO_VERSION: "2019.2" # Vivado not needed but it is part of the path that is called
    PROJ_NAME: "TETC"
  needs:
    - download
    - topTETC-sim
topIRVMR-check-results:
  <<: *template_check-results
  allow_failure: true # FIXME: remove after all errors are fixed
  variables:
    VIVADO_VERSION: "2019.2" # Vivado not needed but it is part of the path that is called
    PROJ_NAME: "IRVMR"
  needs:
    - download
    - topIRVMR-sim
topMCTB-check-results:
  <<: *template_check-results
  variables:
    VIVADO_VERSION: "2019.2" # Vivado not needed but it is part of the path that is called
    PROJ_NAME: "ReducedConfig/MCTB"
  needs:
    - download
    - topMCTB-sim
topIRtoTB-check-results:
  <<: *template_check-results
  variables:
    VIVADO_VERSION: "2019.2" # Vivado not needed but it is part of the path that is called
    PROJ_NAME: "ReducedConfig/IRtoTB"
  needs:
    - download
    - topIRtoTB-sim
# FW synthesis ---------------
topPRMEMC-synth:
  <<: *template_topTF-synth
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "PRMEMC"
  needs:
    - job: topPRMEMC-sim
    - job: topPRMEMC-check-results
      artifacts: false
topTETC-synth:
  <<: *template_topTF-synth
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "TETC"
  needs:
    - job: topTETC-sim
    - job: topTETC-check-results
      artifacts: false
topIRVMR-synth:
  <<: *template_topTF-synth
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "IRVMR"
  needs:
    - job: topIRVMR-sim
    - job: topIRVMR-check-results
      artifacts: false
topMCTB-synth:
  <<: *template_topTF-synth
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "ReducedConfig/MCTB"
  needs:
    - job: topMCTB-sim
    - job: topMCTB-check-results
      artifacts: false
topIRtoTB-synth:
  <<: *template_topTF-synth
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "ReducedConfig/IRtoTB"
  needs:
    - job: topIRtoTB-sim
    - job: topIRtoTB-check-results
      artifacts: false
