[submodule "emData/project_generation_scripts"]
	path = emData/project_generation_scripts
	url = git@github.com:cms-L1TK/project_generation_scripts
[submodule "KalmanFilter"]
	path = KalmanFilter
	url = https://github.com/cms-L1TK/l1tk-for-emp.git
