variables:
  GIT_SUBMODULE_STRATEGY: recursive
  VIVADO_PATH_SH: '/nfs/data41/software/Xilinx/Vivado/${VIVADO_VERSION}/settings64.sh'
  CLANG_TIDY_PATH: '/opt/rh/llvm-toolset-7.0/root/bin/clang-tidy'
  CLANG_TIDY_OPTIONS: '-format-style=file' #-config='' does not work because of the quotes; -header-filter in .clang-tidy
  CLANG_TIDY_COMP_OPTIONS: '-std=c++11 -I../TrackletAlgorithm -I../TestBenches -I/nfs/data41/software/Xilinx/Vivado/${VIVADO_VERSION}/include'

stages: # ---------------------------------------------------------------------
  - quality-check
  - hls-build
  - topTF-sim
  - check-results
  - topTF-synth

# Job templates ---------------------------------------------------------------
.job_template: &template_base
  tags:
    - xilinx-tools
  before_script:
    - source $VIVADO_PATH_SH

.job_template: &template_quality-check
  tags:
    - xilinx-tools
  stage: quality-check
  before_script:
    # Needed for new tool version
    - source /opt/rh/llvm-toolset-7.0/enable
  script:
    - cd emData
    - ./download.sh
    - cd ../project
    - pwd; ls -la; # Debug
    # Hard coded -config='' because the quotes do not work in the variable
    - ${CLANG_TIDY_PATH} -config='' ${CLANG_TIDY_OPTIONS} ${CLANG_TIDY_FILES} -- ${CLANG_TIDY_COMP_OPTIONS} ${CLANG_TIDY_INCLUDES}

.job_template: &template_hls-build
  <<: *template_base
  stage: hls-build
  script:
    - cd project
    - pwd; ls -la; # Debug
    - ${EXECUTABLE} -f "script_${PROJ_NAME}.tcl"
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./project/
      - ./emData/
    expire_in: 1 week

.job_template: &template_topTF-sim
  <<: *template_base
  stage: topTF-sim
  script:
    - cd IntegrationTests/${PROJ_NAME}/script
    - pwd; ls -la; #debug
    - vivado -mode tcl -source ./makeProject.tcl
    - vivado -mode tcl -source ./runSim.tcl
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./IntegrationTests/${PROJ_NAME}/script/dataOut/
      - ./IntegrationTests/${PROJ_NAME}/script/Work/
    expire_in: 1 week

.job_template: &template_check-results
  <<: *template_base
  stage: check-results
  script:
    - cd IntegrationTests/${PROJ_NAME}/script
    # Compare HDL sim output with full machtes Mem/Prints
    - python3 ../../common/script/CompareMemPrintsFW.py -p -s
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./IntegrationTests/${PROJ_NAME}/script/dataOut/*.txt
    expire_in: 10 week

.job_template: &template_topTF-synth
  <<: *template_base
  stage: topTF-synth
  script:
    - cd IntegrationTests/${PROJ_NAME}/script
    - pwd; ls -la; #debug
    - vivado -mode tcl -source ../../common/script/synth.tcl 
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./IntegrationTests/${PROJ_NAME}/script/Work/Work.runs/synth_1/*.rpt
    expire_in: 1 week
    
# Jobs ------------------------------------------------------------------------
# Quality checks ------------
IR-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/InputRouter_test.cpp ../TrackletAlgorithm/InputRouterTop.cc'
VMR-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/VMRouter_test.cpp ../TrackletAlgorithm/VMRouterTop.cc'
VMRCM-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/VMRouterCM_test.cpp ../TrackletAlgorithm/VMRouterCMTop.cc'
TE-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/TrackletEngine_test.cpp ../TrackletAlgorithm/TrackletEngineTop.cc'
TC-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/TrackletCalculator_test.cpp ../TrackletAlgorithm/TrackletCalculatorTop.cc'
TP-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/TrackletProcessor_L1L2D_test.cpp ../TrackletAlgorithm/TrackletProcessor.cc'
PR-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/ProjectionRouter_test.cpp ../TrackletAlgorithm/ProjectionRouterTop.cc'
ME-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/MatchEngine_test.cpp ../TrackletAlgorithm/MatchEngine.cc'
MC-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/MatchCalculator_test.cpp ../TrackletAlgorithm/MatchCalculatorTop.cc'
MC-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/MatchProcessor_test.cpp ../TrackletAlgorithm/MatchProcessorTop.cc'
TB-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/TrackBuilder_test.cpp ../TrackletAlgorithm/TrackBuilderTop.cc'
# HLS builds ---------------
IR-vivado-hls-build:
  <<: *template_hls-build
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "IR"
VMR-vivado-hls-build:
  <<: *template_hls-build
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "VMR"
VMRCM-vivado-hls-build:
  <<: *template_hls-build
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "VMRCM"
TE-vivado-hls-build:
  <<: *template_hls-build
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "TE"
TC-vivado-hls-build:
  <<: *template_hls-build
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "TC"
TP-vivado-hls-build:
  <<: *template_hls-build
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "TP"
PR-vivado-hls-build:
  <<: *template_hls-build
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "PR"
ME-vivado-hls-build:
  <<: *template_hls-build
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "ME"
ME-vitis-hls-build:
  <<: *template_hls-build
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2020.2"
    EXECUTABLE: "vitis_hls"
    PROJ_NAME: "ME"
MC-vivado-hls-build:
  <<: *template_hls-build
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "MC"
TB-hls-build:
  <<: *template_hls-build
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "TB"
# FW simulation ---------------
topPRMEMC-sim:
  <<: *template_topTF-sim
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "PRMEMC"
  dependencies: # needed to avoid interference from ME-vitis-hls-build
    - PR-vivado-hls-build
    - ME-vivado-hls-build
    - MC-vivado-hls-build
# Check FW results ---------------
topPRMEMC-check-results:
  <<: *template_check-results
  allow_failure: true # FIXME: remove after all errors are fixed
  variables:
    VIVADO_VERSION: "2019.2" # Vivado not needed but it is parth of the path that is called
    PROJ_NAME: "PRMEMC"
  dependencies:
    - PR-vivado-hls-build
    - ME-vivado-hls-build
    - MC-vivado-hls-build
    - topPRMEMC-sim
# FW synthesis ---------------
topPRMEMC-synth:
  <<: *template_topTF-synth
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "PRMEMC"
  dependencies:
    - PR-vivado-hls-build
    - ME-vivado-hls-build
    - MC-vivado-hls-build
    - topPRMEMC-sim
    - topPRMEMC-check-results
