variables:
  GIT_SUBMODULE_STRATEGY: recursive
  VIVADO_PATH_SH: '/nfs/data41/software/Xilinx/Vivado/${VIVADO_VERSION}/settings64.sh'
  CLANG_TIDY_PATH: '/opt/rh/llvm-toolset-7.0/root/bin/clang-tidy'
  CLANG_TIDY_OPTIONS: '-format-style=file' #-config='' does not work because of the quotes; -header-filter in .clang-tidy
  CLANG_TIDY_COMP_OPTIONS: '-std=c++11 -I../TrackletAlgorithm -I../TrackletAlgorithm/TestBench -I../TopFunctions/CombinedConfig_FPGA2 -I../TopFunctions/CombinedConfig -I../TestBenches -I/nfs/data41/software/Xilinx/Vivado/${VIVADO_VERSION}/include'

stages: # ---------------------------------------------------------------------
  - lint
  - download
  - quality-check
  - hls-build
  - topTF-sim
  - check-results
  - topTF-synth

# Job templates ---------------------------------------------------------------
.job_template: &template_base
  tags:
    - xilinx-tools
  before_script:
    - source $VIVADO_PATH_SH

.job_template: &template_static-check-python
  tags:
    - xilinx-tools
  stage: lint
  before_script:
    - which python3
    - python3 --version
    - python3 -m pylint --version

.job_template: &template_quality-check
  needs: ["download"]
  tags:
    - xilinx-tools
  stage: quality-check
  before_script:
    # Needed for new tool version
    - source /opt/rh/llvm-toolset-7.0/enable
  script:
    - pwd; ls -la; ls -la TrackletAlgorithm/;
    - cd project
    - pwd; ls -la; # Debug
    # Hard coded -config='' because the quotes do not work in the variable
    - ${CLANG_TIDY_PATH} -config='' ${CLANG_TIDY_OPTIONS} ${CLANG_TIDY_FILES} -- ${CLANG_TIDY_COMP_OPTIONS} ${CLANG_TIDY_INCLUDES}

.job_template: &template_hls-build
  <<: *template_base
  stage: hls-build
  script:
    - cd project
    - pwd; ls -la; # Debug
    - ${EXECUTABLE} -f "script_${PROJ_NAME}.tcl"
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./project/
    expire_in: 1 week

.job_template: &template_topTF-sim
  <<: *template_base
  stage: topTF-sim
  script:
    - cd IntegrationTests/${PROJ_NAME}/script
    - pwd; ls -la; #debug
    - make -j`nproc` Work
    - vivado -mode batch -source ./runSim.tcl | awk 'BEGIN{IGNORECASE=1} /^error/ {exit_code=1;} // {print $0;} END{exit exit_code}'
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./IntegrationTests/${PROJ_NAME}/script/
    expire_in: 1 week

.job_template: &template_check-results
  <<: *template_base
  stage: check-results
  script:
    - cd IntegrationTests/${PROJ_NAME}/script
    # Compare HDL sim output with Mem/Prints
    - python3 common/script/CompareMemPrintsFW.py -p -s
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./IntegrationTests/${PROJ_NAME}/script/dataOut/*.txt
    expire_in: 10 week

.job_template: &template_topTF-synth
  <<: *template_base
  stage: topTF-synth
  script:
    - cd IntegrationTests/${PROJ_NAME}/script
    - pwd; ls -la; #debug
    - make Work/Work.runs/synth_1 | awk 'BEGIN{IGNORECASE=1} /^error/ {exit_code=1;} // {print $0;} END{exit exit_code}'
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./IntegrationTests/${PROJ_NAME}/script/Work/Work.runs/synth_1/*.rpt
    expire_in: 1 week
    
# Jobs ------------------------------------------------------------------------
# Lint ------------
py3check:
  <<: *template_static-check-python
  script:
    # If changes need to be made you might refer to: https://portingguide.readthedocs.io/en/latest/tools.html#automated-fixer-python-modernize
    - python3 -m pylint --py3k emData/*.py # Check for python3 compatibility
lint:
  <<: *template_static-check-python
  allow_failure: true
  script:
    - python3 -m pylint emData/*.py # Static code checker
# Download ------------
download:
  tags:
    - xilinx-tools
  stage: download
  needs: ["py3check", "lint"]
  script:
    - cd emData
    - ./download.sh
  artifacts:
    when: on_success
    name: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - ./emData/
      - ./TopFunctions/
      - ./IntegrationTests/
    expire_in: 1 week
# Quality checks ------------
IR-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/InputRouter_test.cpp ../TopFunctions/CombinedConfig/InputRouterTop.cc'
VMRCM-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/VMRouterCM_test.cpp ../TopFunctions/CombinedConfig/VMRouterCMTop_L2PHIA.cc'
VMSMER-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/VMStubMERouter_test.cpp ../TopFunctions/CombinedConfig_FPGA2/VMStubMERouterTop_D1PHIA.cc'    
TP-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/TrackletProcessor_test.cpp ../TopFunctions/CombinedConfig/TrackletProcessorTop.cc'
PC-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/ProjectionCalculator_test.cpp ../TopFunctions/CombinedConfig_FPGA2/ProjectionCalculatorTop.cc'
MP-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/MatchProcessor_test.cpp ../TopFunctions/CombinedConfig_FPGA2/MatchProcessorTop.cc'
TB-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/TrackBuilder_test.cpp ../TopFunctions/CombinedConfig_FPGA2/TrackBuilderTop.cc'
TM-quality-check:
  <<: *template_quality-check
  variables:
    VIVADO_VERSION: "2019.2"
    CLANG_TIDY_FILES: '../TestBenches/TrackMerger_test.cpp ../TopFunctions/TrackMergerTop.cc'
# HLS builds ---------------
IR-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "IR-quality-check"]
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "IR"
VMRCM-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "VMRCM-quality-check"]
  allow_failure: true # FIXME: remove after fixing issue
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "VMRCM"
VMSMER-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "VMSMER-quality-check"]
  allow_failure: true # FIXME: remove after fixing issue
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "VMSMER"
TP-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "TP-quality-check"]
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "TP"
PC-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "PC-quality-check"]
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "PC"
MP-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "MP-quality-check"]
  allow_failure: true # FIXME: remove after regenerating test vectors
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "MP"
TB-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "TB-quality-check"]
  allow_failure: true # FIXME: remove after fixing issue
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "TB"
TM-vivado-hls-build:
  <<: *template_hls-build
  needs: ["download", "TM-quality-check"]
  allow_failure: false # FIXME: testbench currently always passes
  variables:
    EXECUTABLE: 'vivado_hls'
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "TM"
# FW simulation ---------------
topReducedCombined-sim:
  <<: *template_topTF-sim
  allow_failure: true
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "ReducedCombinedConfig"
  needs:
    - job: download
    - job: IR-vivado-hls-build
      artifacts: false
    - job: VMRCM-vivado-hls-build
      artifacts: false
    - job: VMSMER-vivado-hls-build
      artifacts: false  
    - job: TP-vivado-hls-build
      artifacts: false
    - job: PC-vivado-hls-build
      artifacts: false
    - job: MP-vivado-hls-build
      artifacts: false
    - job: TB-vivado-hls-build
      artifacts: false
# Check FW results ---------------
topReducedCombined-check-results:
  <<: *template_check-results
  allow_failure: true # FIXME: remove after all errors are fixed
  variables:
    VIVADO_VERSION: "2019.2" # Vivado not needed but it is part of the path that is called
    PROJ_NAME: "ReducedCombinedConfig"
  needs:
    - download
    - topReducedCombined-sim
# FW synthesis ---------------
topReducedCombined-synth:
  <<: *template_topTF-synth
  allow_failure: true
  variables:
    VIVADO_VERSION: "2019.2"
    PROJ_NAME: "ReducedCombinedConfig"
  needs:
    - job: download
    - job: topReducedCombined-sim
    - job: topReducedCombined-check-results
      artifacts: false
