*.log
*.jou
*.bak
*~
*.str
#*#
.#*

*.DS_Store
*._.DS_Store

*.wcfg

*.hprof

# eyescan subsystem
*.dump
*.csv
*.png

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Directories in project
vmrouter_1
vmrouter_2
emData
IntegrationTests/PRMEMC/*.txt
TopFunctions
IntegrationTests/CombinedConfig_FPGA1/hdl/
IntegrationTests/CombinedConfig_FPGA1/script/InputRouterTop_IR*
IntegrationTests/CombinedConfig_FPGA1/script/LUTs
IntegrationTests/CombinedConfig_FPGA1/script/MemPrints
IntegrationTests/CombinedConfig_FPGA1/script/TrackletProcessor*
IntegrationTests/CombinedConfig_FPGA1/script/VMRouterCMTop_*
IntegrationTests/CombinedConfig_FPGA1/script/Work/
IntegrationTests/CombinedConfig_FPGA1/script/common
IntegrationTests/CombinedConfig_FPGA1/tb/
IntegrationTests/CombinedConfig_FPGA2/hdl/
IntegrationTests/CombinedConfig_FPGA2/tb/tb_tf_top.vhd
IntegrationTests/DualFPGA/firmware/cgn/
IntegrationTests/DualFPGA/firmware/hdl/SectorProcessor_f1.vhd
IntegrationTests/DualFPGA/firmware/hdl/common
IntegrationTests/DualFPGA/firmware/hdl/memUtil_pkg_f1.vhd
IntegrationTests/DualFPGA/firmware/mem/
IntegrationTests/DualFPGA/firmware/scripts/check_fpga1_output.py
IntegrationTests/DualFPGA/firmware/scripts/check_fpga2_output.py
IntegrationTests/DualFPGA/firmware/scripts/compare_emp_outputs.py
IntegrationTests/DualFPGA/firmware/scripts/emp_data_format_tools.py
IntegrationTests/DualFPGA/firmware/scripts/fwtosim_comparison.py
IntegrationTests/DualFPGA/firmware/scripts/generate_fpga1_input.py
IntegrationTests/DualFPGA/firmware/scripts/generate_fpga2_input.py
IntegrationTests/DualFPGA/firmware/scripts/include_cores.py
IntegrationTests/DualFPGA/firmware/scripts/ip_tools.tcl
IntegrationTests/DualFPGA/firmware/scripts/kf_link_mod.py
IntegrationTests/DualFPGA/firmware/scripts/run_apollo_tests.py
IntegrationTests/DualFPGA/firmware/scripts/xciMaker_fpga1
IntegrationTests/DualFPGA/firmware/ucf/serenity.tcl
IntegrationTests/ReducedCombinedConfig_FPGA1/hdl/
IntegrationTests/ReducedCombinedConfig_FPGA1/tb/tb_tf_top.vhd
IntegrationTests/ReducedCombinedConfig_FPGA2/hdl/
IntegrationTests/ReducedCombinedConfig_FPGA2/tb/tb_tf_top.vhd
IntegrationTests/common/script/emp/__pycache__/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

